* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    user-select: none;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
input {
    outline: none;
}
p {
    margin: 0;
}