@import "./_override";
@import "./_colors";
@import "./_responsive_mixins";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    background-image: url("../assets/bg-1.svg");
    background-position: right top;
    background-size: auto 1110px;
    background-repeat: no-repeat;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ddd;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 165px;
        height: 60px;
        position: sticky;
        top: 0;
        z-index: 99;
        background: transparent;
        transition: background 0.5s ease;
        .navbar {
            display: flex;
            align-items: center;
            height: 100%;
            button {
                font-size: 14px;
                line-height: 24px;
                color: #505f98;
                &:nth-child(2) {
                    margin: 0 60px;
                }
            }
        }
        .logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            font-weight: 900;
            font-size: 26px;
            line-height: 38px;
            color: #37447e;
        }
        .buy-now-btn {
            width: 160px;
            height: 26px;
            background-color: $primary-bg;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #ffffff;
        }
    }
    .intro {
        height: 1110px;
        .content {
            margin-left: 165px;
            width: 540px;
            .text-content {
                margin-bottom: 70px;
                p:first-child {
                    font-weight: 500;
                    font-size: 50px;
                    line-height: 66px;
                    letter-spacing: 1px;
                    color: $primary-text;
                    margin-bottom: 20px;
                }
                p:last-child {
                    font-size: 18px;
                    line-height: 30px;
                    color: #505f98;
                }
            }
            .btn-action {
                button {
                    width: 190px;
                    height: 36px;
                    border-radius: 2px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    &:nth-child(1) {
                        background-color: $primary-bg;
                        margin-right: 30px;
                        color: #ffffff;
                    }
                    &:nth-child(2) {
                        border: 2px solid $primary-text;
                        color: $primary-text;
                    }
                }
            }
        }
    }
    .section-1 {
        height: 742px;
        background-image: url(../assets/bg-2.svg);
        background-size: 540px auto;
        background-repeat: no-repeat;
        background-position: 735px 110px;
        .content {
            padding-top: 160px;
            margin-left: 165px;
            width: 540px;
            .title {
                font-weight: 500;
                font-size: 36px;
                line-height: 48px;
                color: $primary-text;
                margin-bottom: 16px;
            }
            .text {
                font-size: 16px;
                line-height: 26px;
                color: $secondary-text;
                margin-bottom: 80px;
            }
            .action {
                display: flex;
                > div {
                    cursor: pointer;
                    &:nth-child(1) {
                        margin-right: 30px;
                    }
                    img {
                        width: 36px;
                        height: 36px;
                        margin-bottom: 14px;
                    }
                    p:nth-child(2) {
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 48px;
                        color: $primary-text;
                        margin-bottom: 6px;
                    }
                    p:nth-child(3) {
                        font-size: 12px;
                        line-height: 18px;
                        color: #5d6970;
                    }
                }
            }
        }
    }
    .section-2,
    .section-3,
    .section-4 {
        height: 569px;
        background-image: url(../assets/bg-3.svg);
        background-size: 480px auto;
        background-repeat: no-repeat;
        background-position: 191px 122px;
        .content {
            width: 445px;
            margin-left: 826px;
            padding-top: 172px;
            .title {
                font-weight: 500;
                font-size: 36px;
                line-height: 48px;
                color: $primary-text;
                margin-bottom: 16px;
            }
            .text {
                font-size: 16px;
                line-height: 26px;
                color: $secondary-text;
            }
        }
    }
    .section-3 {
        background-image: url(../assets/bg-4.svg);
    }
    .section-4 {
        background-image: url(../assets/bg-5.svg);
        .purchase-btn {
            width: 150px;
            height: 32px;
            background-color: $primary-bg;
            margin-top: 40px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #ffffff;
        }
    }
    .purchase {
        height: 804px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 238px;
        background: #e7ecff;
        position: relative;
        .curve {
            width: 110%;
            height: 150px;
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
            border-radius: 50%;
        }
        .title {
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            text-align: center;
            color: $primary-text;
            margin-bottom: 16px;
        }
        .text {
            width: 600px;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: $secondary-text;
            margin-bottom: 36px;
        }
        .price {
            margin-bottom: 60px;
            span:first-child {
                font-weight: 500;
                font-size: 50px;
                line-height: 66px;
                text-align: center;
                letter-spacing: 1px;
                color: #222f65;
            }
            span:last-child {
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #37447e;
            }
            & + p {
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                color: #5d6970;
                margin-bottom: 10px;
            }
        }
        .purchase-btn {
            width: 190px;
            height: 32px;
            background: #111b47;
            border-radius: 2px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #ffffff;
        }
    }
    .footer {
        padding: 60px 165px 0;
        height: 216px;
        background: #e7ecff;
        > div:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p:nth-child(1) {
                font-size: 14px;
                line-height: 24px;
                color: #939ea4;
            }
            .logo {
                font-weight: 900;
                font-size: 26px;
                line-height: 38px;
                color: #37447e;
            }
            .purchase-btn {
                width: 109px;
                height: 26px;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #ffffff;
                background: $primary-bg;
                border-radius: 2px;
            }
        }
        hr {
            height: 0;
            border-top: 1px solid #cdd1d4;
            margin: 40px 0 20px;
            & + div {
                display: flex;
                align-items: center;
                .nav {
                    p {
                        display: inline-block;
                        font-size: 14px;
                        line-height: 24px;
                        color: #929ecc;
                        margin-right: 60px;
                        cursor: pointer;
                    }
                }
                .social {
                    margin-left: auto;
                    img {
                        height: 16px;
                        width: 16px;
                        margin-left: 30px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
